* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: "Palanquin", sans-serif;
    display: block;
    line-height: 1.5;
    background-color: #ffffff;
    margin: 0;
}

button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px 14px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: fit-content;
    cursor: pointer;
}

button:hover {
    background-color: #f8f8f8;
    border-color: #999;
    transform: scale(1.05);
}

.added-badge {
    color: #e76c1f;
    font-weight: bold;
    font-size: 16px;
    display: block;
}
